flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6dd6024f2bc207d8",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "listen everything",
        "topic": "timestamp",
        "qos": "2",
        "datatype": "auto",
        "broker": "58f89f734f9bc0ee",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 80,
        "y": 160,
        "wires": [
            [
                "4974d52d02ae324c",
                "25ed0a8995dcd492"
            ]
        ]
    },
    {
        "id": "4974d52d02ae324c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "create query",
        "func": "\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 140,
        "wires": [
            [
                "f1e2112578e20bcc"
            ]
        ]
    },
    {
        "id": "25ed0a8995dcd492",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "search rules",
        "func": "// Search rules\nmsg.topic = \"SELECT * FROM ruleEngine\" +\n\t\" WHERE\" +\n\t\" ('\" + msg.topic + \"' LIKE topicPattern)\" +\n\t\" AND\" +\n\t\" ('\" + msg.payload + \"' LIKE payloadPattern)\" +\n\t\" AND active=1\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 180,
        "wires": [
            [
                "b8a4c8c28bef4a0d"
            ]
        ]
    },
    {
        "id": "f1e2112578e20bcc",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "cc2697137885091e",
        "name": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "a9fab3556cfe5338"
            ]
        ]
    },
    {
        "id": "b8a4c8c28bef4a0d",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "cc2697137885091e",
        "name": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "8b2a40a1ab37ea14"
            ]
        ]
    },
    {
        "id": "a9fab3556cfe5338",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b2a40a1ab37ea14",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "call webHook",
        "func": "// Call webhook\nif(msg.payload.length !== 0)\n{\n\tfor(var i = 0; i < msg.payload.length; i++)\n\t{\n\t\tmsg.method = msg.payload[i].method;\n\t\tmsg.url = msg.payload[i].webHook;\n\t\tnode.send([msg]);\n\t}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "9a3030c675157836"
            ]
        ]
    },
    {
        "id": "9a3030c675157836",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "7cbd7701abd6863f"
            ]
        ]
    },
    {
        "id": "7cbd7701abd6863f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "58f89f734f9bc0ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cc2697137885091e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    }
]